@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


/** {

padding: 0;
margin: 0;*/

}

.pics {

}

hr {
	border: none;
	height: 2px;
	background-color: #000;
	width: auto;
	margin: 2em auto;
}

body {
	font-size: 18px;
	color: #222222;
    background-color: #F7F6EF;
    text-align: center;
    line-height: 1.5em;
    max-width: 100%;
    width: 30em;
    margin: 0 auto;



    
}


h1 h2 h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
    color: #222222;
    padding-bottom: 50px;
    padding-top: 20px;
    /*padding-left: 20px;*/
    
   
    
}

p {
    font-family: 'Crimson Text', serif;
	color: #222222;
	margin: 1em 0;
	text-align: left;

}


img {

width: auto;
height: 300px;
display: block;
margin: 0 auto;
padding: .5em;


}

section {

	padding: 2em;
}

nav {

	text-align: right;
	font-size: 15px;
	padding-top: 20px;
	margin: 30px;



}

footer {

	font-size: 15px;
	text-align: center;
	background-color: #fff;
	/*font-style: italic;*/
	display: block;
	padding: 1.5em;
	max-width: 600px;
	height: 100px;
}

#feet {

	text-align: center;
}

li {

display: inline;
margin-right: 40px;

}

a {

color: #c23008;
text-decoration: none;
font-weight: bold;

}

nav a {


	color: #222222;
	font-style: italic;
	margin-right: 10px;
}

.topimage {

width: auto;
height: 600px;
display: block;
margin: 0 auto;
padding: .5em;
}


/*.backdrop {

	background-image: url(images/PXL_20201108_205619751.PORTRAIT-01.COVER.jpg);
    width: 100%;
    height: auto;
}*/